@using ECOMMERCE_2023.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC ETicaret Projesi</h1>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-3">
            <h2>Kategoriler</h2>
            <ul style="list-style:none;">
                @foreach (CATEGORIES item in (List<CATEGORIES>)ViewBag.Categories)
                 {
                    <li>
                        @Html.ActionLink(item.Category_name, "Category", new { id = item.Category_id })
                    </li>
                 } 
            </ul>
        </div>

    <div class="col-md-9">
                <h2>Product</h2>
                <div class="row">
                    @foreach (PRODUCT item in (List<PRODUCT>)ViewBag.Products)
                        {
                        <div class="col-md-3 card-deck" style=" width:220px; height:190px">
                            <div class="card">
                                <h5>@item.Product_name</h5>
                                <img src="/image/@(item.Product_id+".jpg")" style="width:50%;" />
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <a href="/Home/Product/@item.Product_id" class="btn btn-default">
                                            Ürün Detay &raquo;
                                        </a>
                                        <span style="float:right;color:red;font-size:15px;font-weight:bold">@item.Product_price TL</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        }
                </div>
        </div>
    </div>
</div>















